@model IEnumerable<Group11_iCLOTHINGApp.Models.PRODUCT>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center;font-family:cursive;margin-top:2%;margin-bottom:2%;">Customer Browse Page</h2>

<div>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "customerBrowse", new {departmentID = 3})">Mens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "customerBrowse", new {departmentID = 2})">Womens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "customerBrowse", new {departmentID = 1})">Kids</a>
            </li>
        </ul>
    </nav>
</div>

<div style="margin-top: 2%;">
    <nav class="navbar navbar-expand-sm bg-light justify-content-center" style="width:100%;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "customerBrowse", new {categoryID = 4})">Shoes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "customerBrowse", new {categoryID = 3})">Shirts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "customerBrowse", new {categoryID = 2})">Pants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "customerBrowse", new {categoryID = 1})">Accessories</a>
            </li>

        </ul>
    </nav>
</div>


<div  style="display: flex; width: 99.99%; padding-top: 3%; flex-wrap: wrap;">
    @foreach (var item in Model)
    {

        <div style="width:33.33%;display:flex; outline: 2px dotted black;">
            <div>
                <img alt="Clothing image" src="~/Content/img/stockclothing.png" />
                <div style="padding:10%;padding-left:15%;">
                    <button style="margin-right: 5%;">Add to cart</button>
                    @Html.ActionLink("Details", "Details", new { id = item.productID })
                </div>
            </div>
            <div style="margin-top: 10%; font-size:medium; padding-left:4%;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                <div style="display:flex;">
                    <p style="font-weight:bold;">Name:</p>
                    <p style="padding-left: 2%;">@Html.DisplayFor(modelItem => item.productName)</p>
                </div>
                <div style="display: flex;">
                    <p style="font-weight:bold;">Desc:</p>
                    <p style="padding-left: 2%;">@Html.DisplayFor(modelItem => item.productDescription)</p>
                </div>
                <div style="display:flex;">
                    <p style="font-weight:bold;">Price:</p>
                    <p style="padding-left: 2%;">$@Html.DisplayFor(modelItem => item.productPrice)</p>
                </div>
            </div>
        </div>

    }
</div>



