@model IEnumerable<Group11_iCLOTHINGApp.Models.ABOUT_US>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.companyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyShippingPolicy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyReturnPolicy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyContactInfo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyBusinessDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMINISTRATOR.adminName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.companyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyShippingPolicy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyReturnPolicy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyContactInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyBusinessDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMINISTRATOR.adminName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.adminID }) |
            @Html.ActionLink("Details", "Details", new { id=item.adminID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.adminID })
        </td>
    </tr>
}

</table>
