@model Group11_iCLOTHINGApp.Models.ABOUT_US

@{
    ViewBag.Title = "About iCLOTHING";
}

<h2>About iCLOTHING</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.companyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyShippingPolicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyShippingPolicy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyReturnPolicy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyReturnPolicy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyContactInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyContactInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyBusinessDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyBusinessDescription)
        </dd>

    </dl>
</div>
