@model IEnumerable<Group11_iCLOTHINGApp.Models.PRODUCT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADMINISTRATOR.adminName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRAND.brandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY.departmentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTMENT.departmentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productQty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADMINISTRATOR.adminName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRAND.brandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTMENT.departmentName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productID }) |
            @Html.ActionLink("Details", "Details", new { id=item.productID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productID })
        </td>
    </tr>
}

</table>
